@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.input {
    height: 50px;
    border-radius: 20px;
    border: solid 1px lightgrey;
    font-size: 2rem;
    padding: 2px 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-size: 1.25rem;
        vertical-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    &--small-input {
        width: 10%;
        @media screen and (max-width: 992px) {
            margin-top: 10px;
            width: 40%;
            &::placeholder {
                font-size: 1.5rem;
            }
        }
    }
    &--large-input {
        width: 50%;
        margin-bottom: 20px;
        @media screen and (max-width: 992px) {
            margin-top: 10px;
            width: 80%;
            &::placeholder {
                font-size: 1.5rem;
            }
        }
    }
}