.input {
    height: 50px;
    border-radius: 20px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-size: large;
    }
    &--small-input {
        width: 10%;
    }
    &--large-input {
        width: 60%;
        margin-bottom: 20px;
    }
}